.input {
  width: 100%;
  height: 45px;
  background-color: #FFE7C2;     
  border: 2px solid #E8C79F;     
  border-radius: 10px;
  padding: 0 15px;
  font-size: 15px;
  color: #412D1A;
}

.input::placeholder {
  color: #8c6e50;
}

.input:focus {
  outline: none;
  border-color: #dba86a;
  box-shadow: 0 0 4px rgba(230, 160, 90, 0.7);
}
