.input {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  height: 45px;
  padding: 10px 20px;
  width: 100%;
  transition: all 0.3s ease;
}

.input:focus {
  border-color: #333;
  outline: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}
