.button {
  width: 180px;
  height: 40px;
  background-color: #F2A54A;     
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}

.button:hover {
  background-color: #d98b34;     
  transform: scale(1.03);
}
