.button {
  border-radius: 10px;
  color: #fff;
  background-color: #000;
  padding: 10px 30px;
  text-align: center;
  transition: all 0.3s ease;
  font-weight: bold;
}

.button:hover {
  background-color: #333;
  transform: scale(1.02);
}
