.logo {
  background: #f6c47c;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 15px 40px rgba(0,0,0,0.25);
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 50%;
}
