* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.login-wrapper {
  width: 100%;
  height: 100vh;
  background: #cfcfcf;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-top-block {
  width: 430px;
  height: 460px;
  background: #f6c47c;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  overflow: visible;
}

.login-logo-circle {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: #efae69;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 15px 40px rgba(0,0,0,0.25);
}

.login-curva {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 1;
  pointer-events: none; 
}

.login-area {
  width: 430px;
  background: #111;
  padding: 40px 30px;
  padding-top: 60px;
  color: white;
  margin-top: -60px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; 
}

.login-title {
  font-size: 35px;
  font-weight: 700;
}

.login-subtitle {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 35px;
}

.login-label {
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 15px;
  display: block;
}

.login-erro {
  color: #ff4d4d;
  margin: 5px 0;
}

.login-cadastro {
  margin-top: 20px;
  text-align: center;
  display: block;
  color: #ffb264;
  font-weight: 600;
}

.login-area form button {
  display: block;
  width: 75%;
  margin: 25px auto 0 auto;
  background: #efae69 !important; 
  color: #fefefe !important;
  font-weight: 600;
  border: none;
  padding: 12px 0;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.login-area form button {
  display: block;
  width: 75%;
  margin: 25px auto 0 auto;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.login-area form button:hover {
  filter: brightness(0.85);  
  transform: scale(0.98);     
}


