.navbar {
  background-color: #e66e05;
  color: #FFFFFF;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.navbar .close {
  background: none;
  border: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}
